# Base URL Configuration
 
BASE_URL=your_base_url_here
 
# Test Credentials
 
SAUCEDEMO_STANDARD_USER=your_username_here
SAUCEDEMO_LOCKED_USER=your_locked_user_here
SAUCEDEMO_PROBLEM_USER=your_problem_user_here
SAUCEDEMO_PERFORMANCE_USER=your_performance_user_here
SAUCEDEMO_ERROR_USER=your_error_user_here
SAUCEDEMO_VISUAL_USER=your_visual_user_here
 
SAUCEDEMO_PASSWORD=your_password_here
 
# Environment
 
NODE_ENV=development
